.auth_container {
    display: flex;
    flex-direction: row;
    min-height: fit-content;
    height: auto;
}

.auth_form {
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 60px 60px 60px 60px;   
    align-items: center;
    justify-content: center;
}

.auth_form_box {
     display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 20px 20px;
    justify-content: center;
    width: 100%;
    max-width: 500px; /* evita overflow */
    background-color: white;
    border-radius: 40px 0px 0px 40px;
    height: auto;
}

.auth_form form {
   display: flex;
   flex-direction: column;
   gap: 10px;
   min-width: auto;
   
}



.auth_form form input{
    background-color: #eee;
    border: none;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    outline: none;
}

.auth_form form button{
    background-color: #799851;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
}

.auth_hero {
    width: 80%;
    background-image: url("https://imgs.search.brave.com/vkAciGzNiev-65Bl__LPfA5H47xT6mn8Y2_awGs1Ny8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90aGVs/aWJyYXRyYXZlbHMu/Y29tL3dwLWNvbnRl/bnQvdXBsb2Fkcy8y/MDIxLzAyL3RoZWxp/YnJhdHJhdmVsc19U/ZXJyYXp6YU1hcnRp/bmktMTAyNHg2ODMu/anBn");
    background-size: cover;
    height: 100%;
    border-radius: 0px 40px 40px 0px;

}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color: #799851;
  height: 1px;
}

.disabled{
  display: none;
}

@media(max-width: 600px) {
  .auth_container {
    width: auto;
    min-height: 100vh;
    overflow-y: auto;
  }

  .auth_form {
    width: 100%;
    height: auto;
    min-height: auto;
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px 10px 10px 10px;
  }

  .auth_hero {
    width: 90%;
    height: 100px;
    min-height: 200px;
    max-width: 500px;
    border-radius: 40px 40px 0px 0px;
  }

  .auth_form_box {
    width: 90%;
    max-width: 500px;
    min-height: min-auto;
    padding: 20px;
    justify-content: start;
    border-radius: 0px 0px 40px 40px;

  }

  .auth_form_box form {
    min-width: 0px;
    width: 100%;
  }

  .disabled{
    display: none;
  }
}