@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.auth-container {
    font-family: 'Montserrat', sans-serif;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    overflow: hidden;
    width: 768px;
    height: 480px;
    padding: 0;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.form-container{
    display: none;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 40px;
}

.form-container.active{
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.container .form-container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container .form-container button{
    background-color: #799851;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.info-container {
    display: none;
}

.info-container.active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    flex-direction: column;
    background-color: #799851;
    border-radius: 0 130px 130px 0;
    transition: all 0.6s ease-in-out;
}

.info-container.active.inverted {
    border-radius: 130px 0 0 130px;
}

.info-container button {
    background-color: #fff;
    color: #799851;
    font-size: 12px;
    padding: 10px 35px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}