.navbar {
  position: sticky;
  z-index: 100;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 68px;
  background-color: #c5ada8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-toggle {
  display: none;
}

.navbar-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.navbar-content a {
  min-width: max-content;
  padding: 10px;
  text-decoration: none;
  color: #293b62;;
  font-weight: 450;
}

.navbar-content a:hover {
  text-decoration: none;
  transform: scale(1.05);
}


.navbar .login-button {
  background-color: #293b62;
    color: #F4F2EF;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 45px;
    border: 1px solid rgba(109, 109, 109, 0.4);
    border-radius: 8px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    width: auto;
}

.navbar .login-button:hover {
  opacity: 0.9;
}


@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px;
    align-items: start;
  }

  .navbar.active {
    min-height: 150px;
    height: auto;
    padding: 20px 20px 0px;
  }

  .navbar-toggle {
    width: 100%;
    display: flex;
    justify-content: right;
  }

  .navbar-toggle button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .navbar-toggle svg {
    width: 30px;
    height: 30px;
  }

  .navbar-content {
    flex-direction: column;
    align-items: flex-start;
    display: none;
    margin-bottom: 30px;
    width: 100%;
  }

  .navbar-content.active {
    display: flex;
  }

  .navbar-content a,
  .navbar-content .login-button {
    display: block;
    width: 100%;
    padding: 8px 0;
    text-align: left;
    color: #F4F2EF;
    background: none;
    box-shadow: none;
    border: none;
    font-size: 1em;
    letter-spacing: normal;
  }

  .navbar-content .login-button {
    font-weight: normal;
    text-transform: none;
  }

  .navbar-content a:hover,
  .navbar-content .login-button:hover {
    background: none;
    box-shadow: none;
    transform: none;
    color: #F4F2EF;
    letter-spacing: 0;
  }
  

  .right {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
}
