

footer {
    background: #c5ada8;
    color: #293b62;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding : 20px 0px 0px 0px;
    position: static;
    bottom: 0;

}

footer .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

footer .content .logo {
    font-size: 30px;
    text-align: center;
}

footer .content p {
    text-align: center;
    width: 100%;
    margin-top: -12px;
}

footer .content .sm,
footer .content .links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

footer .content .links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px; /* sostituisce i margini */
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .content .sm li {
    margin: 0;
}

footer .content .links li {
    margin-bottom: 24px;
}

footer .content .links li a,
footer .content .sm li a {
    color: #162570;
    transition: 0.3s ease;
}

footer .content .sm li a {
    font-size: 25px;
    padding: 8px;
    display: flex;
    align-items: center;
}

footer .content .sm li a:hover {
    background: #fafafa;
    color: #222;
    border-radius: 10px;
}

footer .content .links li a:hover {
    opacity: 0.5;
}

footer .copyright {
    text-align: center;
    padding-top: 10px;
    width: 100%;
    border-top: 1px solid #555;
}




@media screen and (max-width: 600px) {
    footer {
        width: 100%;
        position: static;
        
    }

    footer .content .logo {
        font-size: 30px;
    }

    footer .content p {
        padding: 15px;
    }

    footer .content .sm li a {
        padding: 5px;
    }
}