.home {
    background-color: #f4eeeb;
    min-height: fit-content;
    height: 100vh;
}

.container {
    padding: 20px;
}

.home h2 {
    font-size: 2rem;
    text-align: center;
    color: #000000;
}

.home-image {
    background-image: url("/images/home-hero.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 30px;
    flex-direction: column;
}

.home-image h1 {
    font-size: 4rem;
}

.home-image p {
    font-size: 1.5rem;
}

.container-search {
    width: 100%;
    display: flex;
    padding: 20px 40px 20px 40px;
    justify-content: space-between;
}

.container-search input {
    padding: 5px;
    border-radius: 50px;
    margin-bottom: 10px;
}

.search__container{
  width: 500px;
}

.search_wrapper-right{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.check-btn{
  padding: 10px 20px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid rgb(120 120 120 / 20%);
  color: #212529;
  font-size: 1rem;

  cursor: pointer;
  transition: opacity 0.3s;
}

.container-events {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
    justify-content: center;
}

.event-card {
    width: 300px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-card:hover:not(:has(.star-btn:hover)) {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.5s ease;
}

.card-title {
  display: flex;
  justify-content: space-between;
}

.star-btn {
  position: relative;
  margin: 5px 8px 0 8px;
  width: 28px;
  height: 28px;

  background: none;
  border: none;
  padding: 0;
  outline: none;

  flex-shrink: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  fill: #cccccc;

  &:hover {
    fill: gold;
    transform: scale(1.1);
  }

  &.active {
    fill: gold;
  }
}

.card-footer {
  font-size: 14px;
  border-top: 1px solid rgba(0,0,0,0.1);
  padding-top: 10px;
  margin-bottom: -15px;
}



.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.search__title {
  margin: 0;
  font-size: 1.5rem;
  white-space: nowrap;
}

.search__container {
  position: relative;
  flex: 1; 
  max-width: 600px;
}

.search__input {
  font-family: inherit;
  font-size: 1rem;
  background-color: #f4f2f2;
  border: 0.5px solid #dcdcdc;
  color: #646464;
  padding: 0.7rem 2.5rem 0.7rem 1rem; 
  border-radius: 30px;
  width: 100%;
  transition: all ease-in-out 0.5s;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.search__input:focus {
  outline: none;
  box-shadow: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);}
  
  .search__button {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
  }
  
  .search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
  }
  
  .pagination {
    margin-top: 2rem;
  }
  
  .page-link {
    border-radius: 6px !important;
    color: #000;
  }
  
  .page-item.active .page-link {
    background-color: #799851;
    color: white;
    border-color: #799851;
  }
  
  
  .no-events{
    font-weight: bold;
    text-align: center;
    margin-top: 64px;
    color: black;
  }


  @media (min-width: 600px) and (max-width:1200px){
    .home h2 {
      font-size: 1.8rem;
    }

    .event-card {
          width: 45%;
      }
  
      .container-searchbar {
          width: 100%;
      }
  
      .container-searchbar input {
          width: 100%;
          height: 40px;
      }
  
      .search__container {
          width: 100%;
      }
  
      .search__input {
          width: 100%;
      }
  }


  @media (max-width: 600px) {
      .event-card {
          width: 100%;
      }
  
      .container-searchbar {
          width: 100%;
      }
  
      .container-searchbar input {
          width: 100%;
          height: 40px;
      }
  
      .search {
          flex-direction: column;
          align-items: flex-start;
      }
  
      .search__container {
          width: 100%;
      }
  
      .search__input {
          width: 100%;
      }
  }
