<div class="home">
  <div class="home-image">
  </div>

  <div class="container">
    <div class="search">
      <h2 class="search__title">Scopri i nostri eventi</h2>
      
      <div class="search_wrapper-right">
        <div class="search__container">
          <input type="text" class="search__input" placeholder="Filtra eventi..." #input (keyup.enter)="onSearchFilter(input.value)"/>
          <button class="search__button" (click)="onSearchFilter(input.value)">
            <svg class="search__icon" aria-hidden="true" viewBox="0 0 24 24">
              <path
              d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 
              4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 
              3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 
              11c0-4.135 3.365-7.5 7.5-7.5s7.5 
              3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"
              ></path>
            </svg>
          </button>
        </div>
        <button type="button" class="check-btn">
          <label>
            <input type="checkbox" (change)="onTogglefavoritesFilter($event)" /> 
            Preferiti
          </label>
        </button>
      </div>
    </div>

    <!-- Lista eventi -->
    <div class="container-events">
      <div *ngIf="paginatedEvents.length === 0" class="no-events">
        <p>Nessun evento trovato.</p>
      </div>
      <a *ngFor="let event of paginatedEvents" class="event-card" (click)="onSelectEvent(event.id)" style="color:#293b62; text-decoration: none;">
        <div class="card-title">
          <h3>{{ event.eventName }}</h3>

          <button type="button" class="star-btn" (click)="toggleFavorite(event, $event)" [class.active]="event.isFavorite">
            <svg *ngIf="event.isFavorite; else outlineStar" class="star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
            </svg>

            <ng-template #outlineStar>
              <svg class="star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
              </svg>
            </ng-template>
          </button>
        </div>
        
        <div class="card-footer">
          <p style="margin-bottom: 4px;"> <strong> DATA: </strong> {{ event.startDate | date:'dd/MM/yyyy' }}</p>
          <p> <strong> ORA: </strong> {{ event.startTime }} - {{ event.endTime }}</p>
        </div>
      </a>
    </div>

    <!-- Paginazione -->
    <nav *ngIf="totalPages > 1" class="mt-4" aria-label="Page navigation">
      <ul class="pagination justify-content-center mb-4">
        <!-- Prima pagina -->
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" (click)="firstPage()">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
              <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
            </svg>
          </button>
        </li>

        <!-- Pagina precedente -->
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" (click)="previousPage()">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
            </svg>
          </button>
        </li>

        <!-- Blocchi da 3 pagine -->
        <ng-container *ngFor="let i of [].constructor(totalPages); let idx = index">
          <li
            *ngIf="Math.abs(currentPage - (idx + 1)) <= 1"
            class="page-item"
            [class.active]="currentPage === idx + 1"
          >
            <button class="page-link" (click)="goToPage(idx + 1)">
              {{ idx + 1 }}
            </button>
          </li>
        </ng-container>

        <!-- Pagina successiva -->
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <button class="page-link" (click)="nextPage()">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
          </button>
        </li>

        <!-- Ultima pagina -->
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <button class="page-link" (click)="lastPage()">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708"/>
              <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div>
