html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f4eeeb;
}

app-root {
  min-height: 100vh; /* Altezza minima: tutta la finestra */
}

.swal2-popup .rounded-btn {
  border-radius: 8px !important;
  padding: 0.45rem 1.25rem !important;
  font-weight: 450;
}