

.event-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f4eeeb;
}

.event-card {
  display: flex;
  position: relative;
  max-width: 80%;
  width: 100%;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.15);
  overflow: hidden;
}

.event-image {
  flex: 1;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.event-info {
  flex: 2;
  padding: 30px;
  padding-bottom: 60px;

  h2 {
    margin-top: 0;
    font-size: 1.8em;
  }

  p {
    margin: 8px 0;
  }

  .buttons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    position: absolute;
    bottom: 20px;  // margine dal bordo inferiore, da togliere se vogliamo bottoni a sinistra
    right: 20px;   // margine dal bordo destro , come sopra
   
   
    .btn {
      padding: 10px 20px;
      font-size: 1rem;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.9;
      }
    }

    .map-btn {
      background-color: #864e3e;
      color: white;
        justify-content: flex-end; /* allinea i pulsanti a destra */
        display: flex;
    }

    .signup-btn {
      background-color: #799851;
      color: white;
    }
  }
}

@media screen and (max-width: 600px) {
  .event-card {
    flex-direction: column;
  }
  .event-image {
    height: 200px;
  }
  .event-info {
    padding: 20px;
  }
}
