<div class="profile-container">
  <div class="profile-card">

    <h1>Il mio profilo</h1>

    <div *ngIf="!editing" class="view-mode">
      <p><strong>Nome:</strong> {{ user.name }}</p>
      <p><strong>Cognome:</strong> {{ user.surname }}</p>
      <p><strong>Nome utente:</strong> {{ user.username }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Ruolo:</strong> {{ user.role }}</p>

      <button class="btn" (click)="startEditing()">Cambia informazioni</button>

      <hr class="divider" />

      <!-- USER TICKETS -->
      <h2>I miei tickets</h2>

      <!-- Carosello -->
      <div class="carousel-wrapper">
      
        <!-- Freccia sinistra -->
      <button class="carousel-nav left" (click)="scrollLeft()" [disabled]="atStart">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="icon" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
        </svg>
      </button>

        <div class="carousel-tickets" #carousel (scroll)="onScroll()">
          <a *ngFor="let ticket of tickets" class="ticket-card" style="color:#131313; text-decoration: none;" (click)="showTicketDetails(ticket)">
            <div class="card-title">
              <h3>{{ ticket.event_name }}</h3>
              <p>{{ ticket.event_date | date:'dd/MM/yyyy' }}</p>
            </div>

            <div class="card-footer">
              <p><strong> PRENOTATO IL: </strong> {{ ticket.purchaseDate | date:'dd/MM/yyyy'}} </p>
            </div>
          </a>
        </div>

      <!-- Freccia destra -->
      <button class="carousel-nav right" (click)="scrollRight()" [disabled]="atEnd">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="icon" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
        </svg>
      </button>
      </div>
    </div>

    <!-- EDIT PROFILE -->

    <div *ngIf="editing" class="edit-mode">
      <form (ngSubmit)="saveChanges()" #profileForm="ngForm">
        <label>
          Nome:
          <input type="text" [(ngModel)]="formUser.name" name="name" required />
        </label>
        <label>
          Cognome:
          <input type="text" [(ngModel)]="formUser.surname" name="surname" required />
        </label>
        <label>
          Nome utente:
          <input type="text" [(ngModel)]="formUser.username" name="username" required />
        </label>
        <label>
          Email:
          <input type="email" [(ngModel)]="formUser.email" name="email" required />
        </label>
        <label>
          Role:
          <input type="email" [(ngModel)]="formUser.role" name="role" disabled />
        </label>

        <div class="buttons">
          <button type="button" class="btn btn-password" (click)="startPasswordChanging()">Cambia password</button>
          <button type="submit" class="btn">Aggiorna</button>
          <button type="button" class="btn btn-secondary" (click)="cancelEditing()">Annulla</button>
        </div>
      </form>
    </div>
  </div>
</div>
