.profile-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4eeeb;
  padding: 20px;
  box-sizing: border-box;
}


.profile-card {
  background: #fff;
  width: 80%;             
  padding: 40px;
  border-radius: 20px;    
  box-shadow: 0 4px 16px rgba(0,0,0,0.15);
}


.profile-card h1,h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 2em;
  text-align: center;
}

.view-mode p {
  font-size: 1.1em;
  margin: 8px 0;
}
.view-mode .btn {
  display: block;
  margin: 30px auto 0;
}


.edit-mode form {
  display: flex;
  flex-direction: column;
}

.edit-mode label {
  margin-bottom: 20px;
  font-size: 1em;
}

.edit-mode input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 8px; 
  box-sizing: border-box;
}

.buttons {
  display: flex;
  justify-content: right;
  gap: 16px;
  margin-top: 25px;
}

.buttons button:first-child {
  margin-right: auto; /* spinge gli altri bottoni a destra */
}

.btn {
  padding: 12px 24px;
  font-size: 1em;
  border: none;
  border-radius: 8px;
  background-color: #799851;
  color: white;
  cursor: pointer;
}

.btn-secondary {
  background-color: #864b4f;
}

.btn-password {
  background-color: #ffffff;
  color: black;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  opacity: 0.9;
}

.divider {
  border: none;
  border-top: 1px solid #ccc;
  margin: 40px 0 20px 0;
}

.carousel-wrapper {
  position: relative;
  margin-top: 20px;
}

.carousel-tickets {
    display: flex;
    margin-top: 20px;
    gap: 20px;
    

    overflow-x: auto;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }
}

.carousel-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 38px;
  height: 38px;

  background: none;
  border: none;
  padding: 0;
  outline: none;

  color: #212529;

  cursor: pointer;
  z-index: 10;

  &:disabled {
    opacity: 0.3;
    cursor: default;
  }

  &.left{
    left: 5px;
  }

  &.right{
    right: 5px;
  }
}

.carousel-nav:hover:not(:disabled) svg {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.carousel-wrapper::before, .carousel-wrapper::after  {
  content: '';
  position: absolute;
  top: 0;
  width: 40px;
  height: 100%;
  pointer-events: none;
  z-index: 5;
}

.carousel-wrapper::before {
  left: 0;
  background: linear-gradient(to right, #fff, transparent);
}

.carousel-wrapper::after {
  right: 0;
  background: linear-gradient(to left, #fff, transparent);
}

.ticket-card {
    flex: 0 0 270px;
    height: 350px;    
    background-color: #fff;

    scroll-snap-align: start;

    padding: 10px;
    border-radius: 10px;
    border:1px solid rgb(235, 221, 221);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ticket-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.5s ease;
}

.card-title {
  margin: 0;
  margin-top: 12px;
  height: 80%;
  justify-content: space-between;
  text-align: center;
}

.card-footer {
  font-size: 14px;
  border-top: 1px solid rgba(0,0,0,0.1);
  padding-top: 10px;
}


.btn-password:hover {
  background-color: #799851;    
  color: white;                   
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2); 
}

@media (max-width: 600px) {
  .buttons button:first-child {
    margin-right: 0px; 
  }

  .ticket-card {
    flex: 0 0 90%;
 }

  .carousel-tickets {
    gap: 16px;
    margin-left: 24px;
  }

  .carousel-wrapper{
    margin-left: auto;
  }

  .carousel-nav{
    height: 32px;
    width: 32px;
  }

  .carousel-wrapper::after, .carousel-wrapper::before{
    display: none;
  }

  .profile-card {
    width: 100%;           
    padding: 20px;
  }

  .edit-mode input {
    padding: 8px;
    font-size: 0.9em;
  }

  .btn {
    padding: 10px 18px;
    font-size: 0.9em;
  }

  .buttons {
    flex-direction: column;
    gap: 10px;
  }
  
}


