<div class="profile-container">
  <div class="profile-card">

    <h1>Il mio profilo</h1>

    <div *ngIf="!editing" class="view-mode">
      <p><strong>Nome:</strong> {{ user.name }}</p>
      <p><strong>Cognome:</strong> {{ user.surname }}</p>
      <p><strong>Nome utente:</strong> {{ user.username }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Ruolo:</strong> {{ user.role }}</p>

      <button class="btn" (click)="startEditing()">Cambia informazioni</button>

      <hr class="divider" />

      <!-- USER TICKETS -->
      <!-- TODO Modificare da evento a ticket -->
      <h2>I miei tickets</h2>
      <div class="container-events">
        <a *ngFor="let ticket of tickets" class="event-card">
          <div class="event-details">
            <h3>{{ ticket.eventName }}</h3>
            <p>{{ ticket.eventDate }}</p>
          </div>
        </a>
      </div>
    </div>

    <!-- EDIT PROFILE -->

    <div *ngIf="editing" class="edit-mode">
      <form (ngSubmit)="saveChanges()" #profileForm="ngForm">
        <label>
          Nome:
          <input type="text" [(ngModel)]="formUser.name" name="name" required />
        </label>
        <label>
          Cognome:
          <input type="text" [(ngModel)]="formUser.surname" name="surname" required />
        </label>
        <label>
          Nome utente:
          <input type="text" [(ngModel)]="formUser.username" name="username" required />
        </label>
        <label>
          Email:
          <input type="email" [(ngModel)]="formUser.email" name="email" required />
        </label>
        <label>
          Role:
          <input type="email" [(ngModel)]="formUser.role" name="role" disabled />
        </label>

        <div class="buttons">
          <button type="button" class="login-button" (click)="startPasswordChanging()">Cambia password</button>
          <button type="submit" class="btn">Aggiorna</button>
          <button type="button" class="btn btn-secondary" (click)="cancelEditing()">Annulla</button>
        </div>
      </form>
    </div>
  </div>
</div>
